.animalCardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc($mobile-large-gap * 2);
  .animalCardImg {
    width: 390px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: $defaultShadow;
  }
  .cardHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: calc($mobile-medium-gap * 2);
      margin-bottom: $mobile-small-gap;
    }
    .animalCardInfos {
      width: 300px;
      height: 170px;
      flex-shrink: 0;
      border-radius: 5px;
      background: linear-gradient(180deg, #42605b 0%, #567859 100%);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .subh1 {
        text-align: left;
        margin: 1rem;

        span {
          color: $color-text-white-blur;
        }
      }
    }
    .reportsContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .reportPlaceholder {
        margin-top: $mobile-medium-gap;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-weight: 300;
        }
        .reportDate {
          font-weight: 400;
        }
      }
      .reportNavLink {
        width: 340px;
        min-height: 50px;
        border-radius: 5px;
        border: 1px solid #fdf5e9;
        background: linear-gradient(
          180deg,
          rgba(66, 96, 91, 0.6) 0%,
          rgba(86, 120, 89, 0.6) 100%
        );
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .reportNavLinkActive {
        width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #fdf5e9;
        background: linear-gradient(
          180deg,
          rgba(66, 96, 91, 0.6) 0%,
          rgba(86, 120, 89, 0.6) 100%
        );
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding-top: $mobile-medium-gap;
      }
    }
    .reportDetails {
      margin-top: $mobile-small-gap;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: $mobile-medium-gap;
      p {
        text-align: left;
        margin-bottom: calc($mobile-small-gap / 2);
        span {
          color: $color-text-white-blur;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .animalCardContainer {
    .animalCardImg {
      width: 500px;
    }
    .cardHeader {
      h2 {
        margin-top: $desktop-large-gap;
      }
      .animalCardInfos {
        width: 390px;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      .reportsContainer {
        .reportNavLink {
          width: 390px;
        }
        .reportNavLinkActive {
          width: 390px;
        }
      }
    }
  }
}
