@media screen and (max-width: 600px) {
  footer {
    margin-top: calc($mobile-large-gap * 2);
    border-top: solid 1px $color-text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    #contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      .subh1 {
        margin-top: $mobile-medium-gap;
        color: $color-text-white-blur;
      }
    }

    #socialIcons {
      margin-top: $mobile-small-gap;
      display: flex;
      width: 40%;
      justify-content: space-between;
      align-items: center;
    }
    #openingPlanning {
      margin-top: $mobile-large-gap;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subh1 {
        color: $color-text-white-blur;
      }
      #planningPlaceholders {
        margin-top: $mobile-small-gap;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 100%;
          text-align: center;
          margin-bottom: 0.5rem;
          font-weight: bolder;
          color: $color-text-white-blur;
        }
        span {
          color: $color-text-white;
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: $mobile-extralarge-gap;
      a {
        text-decoration: none;
        color: $color-text-white-blur;
        margin-bottom: calc($mobile-small-gap / 2);
      }
    }
    #footerBottom {
      color: $color-text-white-blur;
      margin-bottom: $mobile-medium-gap;
    }
  }
}

@media screen and (min-width: 1024px) {
  footer {
    margin-top: calc($desktop-extralarge-gap + $desktop-large-gap);
    border-top: solid 1px $color-text-white;
    display: flex;
    justify-content: space-between;
    gap: $desktop-large-gap;
    flex-wrap: wrap;
    div {
      margin-top: $desktop-large-gap;
    }

    #openingPlanning {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subh1 {
        color: $color-text-white-blur;
      }
      #planningPlaceholders {
        margin-top: $desktop-medium-gap;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 100%;
          text-align: left;
          margin-bottom: 0.5rem;
          color: $color-text-white-blur;

          span {
            color: $color-text-white;
          }
          &:last-child {
            line-height: 1.3;
          }
        }
      }
    }
    #contact {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subh1 {
        color: $color-text-white-blur;
      }
      #socialIcons {
        margin-top: $desktop-small-gap;
        display: flex;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: $desktop-medium-gap;
      }
    }
    #discoverApp {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subh1 {
        color: $color-text-white-blur;
      }
      #links {
        margin-top: $desktop-small-gap;
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          margin-top: $desktop-small-gap;
          @include desktop-navLink($color-text-white);
          font-size: 16px;
        }
      }
    }
    .links {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: $desktop-small-gap;
      margin-top: 0;
      a {
        text-decoration: none;
        color: $color-text-white-blur;
        display: flex;
        justify-content: center;
        border-right: solid 1px $color-text-white-blur;
        min-width: 150px;
        &:last-child {
          border-right: none;
        }
      }
    }
    #footerBottom {
      width: 100%;
      display: flex;
      justify-content: center;
      color: $color-text-white-blur;
      margin-bottom: $desktop-small-gap;
    }
  }
}
