header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;

  .logoContainer {
    width: 100px;
    height: 100px;
    background-image: url("../../../public/images/logo-arcadia.png");
    background-position: center;
    background-size: cover;
  }

  .menuIcon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #hamburgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    z-index: 100;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-left: 1px solid #fdf5e9;
    background: rgba(30, 30, 30, 0.78);

    nav {
      margin-top: calc($mobile-large-gap * 2);
      width: 100%;
      display: flex;
      flex-direction: column;
      .linkContainer {
        width: 100%;
        height: 35px;
        margin-top: $mobile-small-gap;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: 100%;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      #loginButtonContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        button {
          margin-top: calc($mobile-large-gap * 2);
        }
      }
    }
  }
}
