.searchContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    input {
      width: 290px;
      height: 30px;
      background-color: rgba(217, 217, 217, 0.44);
      border-radius: 5px;
      border: none;
      padding: 0 5px;
      color: white;
      font-family: $merriweather-regular-font;
      &::placeholder {
        font-family: $bellefair-font;
        color: rgba(42, 41, 41, 0.872);
        padding: 0 5px;
      }
    }
  }

  .searchResultContainer {
    margin-top: -$mobile-medium-gap;
    margin-bottom: $mobile-medium-gap;
    .searchResultItem {
      width: 290px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5px;
      border-radius: 5px;
      margin-top: $mobile-small-gap;
    }
    .odd {
      background-color: rgba(217, 217, 217, 0.44);
    }
    .even {
      background-color: rgba(42, 41, 41, 0.4);
    }
  }
}
@media screen and (min-width: 1024px) {
  .searchContainer {
    form {
      input {
        width: 390px;
      }
    }
    .searchResultContainer {
      margin-top: $desktop-small-gap;
      margin-bottom: $desktop-large-gap;
      .searchResultItem {
        width: 390px;
        svg {
          color: $color-light-red;
        }
      }
    }
  }
}
