.slider {
  width: 100%;
  height: 490px;
  position: relative;
  img {
    width: 100%;
    height: 490px;
    box-shadow: $defaultShadow;
    object-fit: cover;
  }
  button {
    margin-bottom: 30px;
    margin-right: 20px;
    position: absolute;
    bottom: 15px;
    right: 20px;
  }
  .sliderContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    z-index: 100;
    .sliderLink {
      min-width: 20px;
      content: " ";
      flex-grow: 1;
      background-color: rgba(253, 245, 233, 0.1);
      height: 100%;
    }
    .sliderLinkActive {
      background-color: $color-text-white;
    }
  }
}
@media screen and (min-width: 900px) {
  .slider {
    max-width: 100%;
    height: 550px;
    border-top: 1px solid $color-text-white;
    img {
      max-width: 100%;
      height: 550px;
      object-fit: cover;
      object-position: center;
      box-shadow: $defaultShadow;
    }
  }
}
