.dashboardContainer {
  .infoMessage {
    color: $color-text-white-blur;
  }
  .heroTitle {
    margin-top: $mobile-small-gap;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    h1 {
      padding: $mobile-small-gap 0;
    }
  }
  .dashboardHeroTitle {
    margin-top: calc(100px + $mobile-small-gap);
  }
  .dashboardNav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dashboardNavItem {
    width: 340px;
    height: 70px;
    margin-top: $mobile-medium-gap;
    border-radius: 5px;
    border: 1px solid #fdf5e9;
    background: linear-gradient(
      90deg,
      rgba(66, 96, 91, 0.6) 0%,
      rgba(86, 120, 89, 0.6) 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:first-child {
      margin-top: calc($mobile-medium-gap * 2);
    }
    &:is(.active) {
      background: none;
      background-color: $color-button-red;
    }
    .subh1 {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
  button {
    margin-top: $mobile-large-gap;
  }
  form {
    margin-bottom: calc($mobile-large-gap + $mobile-medium-gap);
    .planningFormGroup {
      margin-top: $mobile-medium-gap;
      .formLabel {
        margin-top: $mobile-small-gap;
      }
    }
    #animalImages,
    #habitatImages {
      display: none;
    }
    #selectImagesButton {
      width: 300px;
      margin-top: $mobile-small-gap;
    }
    #createAnimalButton {
      margin-top: calc($mobile-medium-gap * 2);
    }
    .filesSelectedList {
      margin-top: $mobile-small-gap;
      text-align: center;

      p {
        width: 290px;
        text-wrap: wrap;
        margin-top: calc($mobile-small-gap / 2);
        color: $color-text-white-blur;
      }
      .principaleFileSelected {
        color: $color-text-white;
        text-decoration: underline;
      }
      .loading {
        color: $color-text-white-blur;
      }
      .fileSelectedName {
        color: $color-text-white;
      }
    }
  }
  .listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $mobile-medium-gap;

    .listItem {
      width: 290px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: $mobile-small-gap;

      .listItemContent {
        width: 100%;
        display: flex;
        min-height: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;
        border-radius: 5px;
        h3 {
          text-align: left;
          width: 70%;
          text-wrap: wrap;
        }
        .listItemActions {
          width: 20%;
          display: flex;
          justify-content: flex-end;
        }
      }
      .odd {
        background-color: rgba(217, 217, 217, 0.44);
      }
      .even {
        background-color: rgba(42, 41, 41, 0.4);
      }
      .imageListItemContent {
        width: 100%;
        flex-direction: column;
        align-items: center;
        .listItemContentHeader {
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: $mobile-small-gap;
          h3 {
            width: 80%;
            flex-wrap: wrap;
          }
          .deleteIcon {
            width: 30px;
            height: 30px;
          }
        }
        .dashboardImage {
          width: 390px;
          height: 400px;
          object-fit: cover;
        }
      }
      &:last-child {
        margin-bottom: $mobile-medium-gap;
      }
      form {
        margin-top: $mobile-small-gap;
        margin-bottom: $mobile-small-gap;
      }
    }
    .imageListItem {
      border: none;
    }
  }
  #reviewsList {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $mobile-medium-gap;
    margin-bottom: calc($mobile-large-gap * 2);
    .reviewCard {
      border: 1px solid #fdf5e9;
      border-radius: 5px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: calc($mobile-medium-gap * 2);
      padding: $mobile-medium-gap $mobile-small-gap;

      &:first-child {
        margin-top: $mobile-medium-gap;
      }
      .subh1 {
        text-align: left;
        margin-bottom: calc($mobile-small-gap / 2);
      }
      .actionButtons {
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
          margin-top: $mobile-medium-gap;
          &:last-child {
            margin-top: $mobile-small-gap;
          }
        }
      }
    }
  }
  .reportsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $mobile-large-gap;
    .reportPlaceholder {
      margin-top: $mobile-medium-gap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        font-weight: 300;
      }
      .reportDate {
        font-weight: 400;
      }
    }
    .reportNavLink {
      width: 340px;
      min-height: 50px;
      border-radius: 5px;
      border: 1px solid #fdf5e9;
      background: linear-gradient(
        180deg,
        rgba(66, 96, 91, 0.6) 0%,
        rgba(86, 120, 89, 0.6) 100%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .reportNavLinkActive {
      width: 340px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid #fdf5e9;
      background: linear-gradient(
        180deg,
        rgba(66, 96, 91, 0.6) 0%,
        rgba(86, 120, 89, 0.6) 100%
      );
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding-top: $mobile-medium-gap;
    }
  }
  .reportDetails {
    margin-top: $mobile-small-gap;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $mobile-medium-gap;
    p {
      text-align: left;
      margin-bottom: calc($mobile-small-gap / 2);
      span {
        color: $color-text-white-blur;
      }
    }
  }
}
