@media screen and (max-width: 600px) {
  #habitatPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .imgsContainer {
      width: 100%;
      height: 490px;
      position: relative;
      img {
        width: 100%;
        height: 490px;
        box-shadow: $defaultShadow;
        object-fit: cover;
      }
      .sliderContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5px;
        display: flex;
        justify-content: space-between;
        gap: 7px;
        z-index: 100;
        .sliderLink {
          min-width: 20px;
          content: " ";
          flex-grow: 1;
          background-color: rgba(253, 245, 233, 0.1);
          height: 100%;
        }
        .sliderLinkActive {
          background-color: $color-text-white;
        }
      }
    }

    #animalsContainer {
      width: 100%;
      margin-top: ($mobile-large-gap + $mobile-medium-gap);

      display: flex;
      flex-direction: column;
      align-items: center;

      .animalCard {
        width: 100%;
        height: 300px;
        position: relative;
        margin-bottom: $mobile-medium-gap;
        &:last-child {
          margin-bottom: $mobile-large-gap;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .animalCardLink {
          position: absolute;
          min-width: 70%;
          left: 10px;
          bottom: 10px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          background: rgba(253, 245, 233, 0.4);
          backdrop-filter: blur(5px);
          padding: 0 5px;

          .subh1 {
            text-align: left;
            width: auto;
          }
          span {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
      .habitatButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      button {
        margin-top: $mobile-medium-gap;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #habitatPageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #habitatImgPlaceholder {
      width: 90%;
      display: flex;
      justify-content: center;
      img {
        width: 800px;
        height: 750px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        object-fit: cover;
      }
    }
    h1 {
      margin-top: $desktop-large-gap;
    }
    h3 {
      margin-top: $desktop-large-gap;
    }
    #animalsContainer {
      width: 90%;
      margin-top: ($desktop-large-gap + $desktop-medium-gap);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: $desktop-small-gap;

      .animalCard {
        width: 400px;
        height: 300px;
        border-radius: 5px;
        position: relative;
        margin-bottom: $desktop-medium-gap;
        &:last-child {
          margin-bottom: $desktop-large-gap;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          box-shadow: $defaultShadow;
        }
        .animalCardLink {
          min-width: 70%;
          position: absolute;
          left: 10px;
          bottom: 10px;
          height: 35px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          background: rgba(253, 245, 233, 0.4);
          backdrop-filter: blur(5px);
          padding: 0 5px;

          span {
            height: 100%;
            display: flex;
            align-items: center;
          }
        }
      }
      .habitatButtons {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: $desktop-small-gap;
      }
      button {
        margin-top: $desktop-medium-gap;
      }
    }
  }
}
