#loginFormContainer {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 350px;

    input,
    label {
      width: 340px;
    }
    label {
      font-family: $bellefair-font;
    }
    .errorMessage {
      text-align: center;
    }
    button {
      margin-top: $mobile-large-gap;
    }
  }
}
