#loginFormContainer {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 350px;

    input,
    label {
      width: 340px;
    }
    label {
      font-family: $bellefair-font;
    }
    .errorMessage {
      text-align: center;
      margin-top: $mobile-medium-gap;
      color: rgb(223, 93, 93);
    }
    button {
      margin-top: $mobile-large-gap;
    }
  }
}
@media screen and (min-width: 1024px) {
  #loginFormContainer {
    form {
      width: 390px;
      input,
      label {
        width: 100%;
      }
    }
  }
}
